#wrap{
	margin-top: 20px;
}

.inline {
	white-space: nowrap;
}

html{
}

body {
	background: transparent;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}


.breadcrumb{
	margin-bottom: 0px;
}

.noborder{
	padding: 0px !important;
	border:0px !important;
	-webkit-box-shadow: none !important;
          box-shadow:none !important;
}