@charset "utf-8";
@import url("http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold");
body{
	font-size: 12px;
	font-family: Tahoma, sans-serif, arial;
	color: #444;
}
label,form,input,select,textarea,button{
	font-size: 12px !important;
	font-family: Tahoma, sans-serif, arial;
}
header{
	padding:5px 0 20px;
	text-align:center;
}
h1,h2,h3,h4{
	font-family: 'PT Sans', sans-serif, arial, tahoma;
	color: #444;
}
td.center,th.center{
	text-align:center;
}
ul{
	list-style:square;
}
a:hover{
	color:#FB9333;
}
span.label{
	font-size:10px
}
img.img {
	border: 1px solid #DBDBDB;
	background-color: white;
	padding: 2px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.15);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.container-fluid{
	padding:0;
	min-width:320px;
}
.navigation-block{
	width:270px;
	height:auto;
	float:left;
	padding:20px 0;
	position:absolute;
	left:0;
}
.user-profile {
	padding: 15px 20px;
	background-color: #e1e1e1;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: url(../img/bg_user_profile.png) repeat-y;	
}
.main-navigation{
	background: url(../img/bg_main_nav.png) repeat-x;
	padding-top:15px;
	clear: both;
	margin-bottom: 20px;
}
.main-navigation > ul > li {
	padding: 0 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e4e4e4;
}
.main-navigation > ul > li ul {
	display: none;
	margin: 0 0 10px 30px;
	padding: 0;
	list-style: square;
	color: #999;
}
.main-navigation > ul > li:first-child {
	border-top: 0;
}
.main-navigation > ul > li > a {
	line-height: 32px;
	font-weight: bold;
	font-size: 15px;
	font-family: 'PT Sans', Tahoma, sans-serif, arial;
	letter-spacing: .3px;	
}
.main-navigation > ul > li > a i{
	opacity: 0.8;
	margin-right: 10px;
}
.main-navigation > ul > li.current{	
	background: url(../img/bg_current_menu.png) no-repeat right 10px;
	margin-right:-1px;
}
.main-navigation > ul > li.current > a {
	color: #666;
}
.main-navigation .badge {
	float: right;
	padding: 1px 5px 2px;
	margin: 7px 0 0 10px;
	font-size: 11px;
	color: white;
	cursor: help;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.content-block{
	height:100%;
	background-color:#fff;
	margin-left:271px;
	padding:20px;
	*zoom:1;
}
.content-block:before,.content-block:after{
	display:table;
	content:"";
	line-height:0;
}
.content-block:after{
	clear:both
}
.navigation-block  ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.user-profile figure {
	margin: 0;
}
.user-profile figure::before, .user-profile figure::after {
	display: table;
	content: "";
	line-height: 0;
}
.user-profile figure::after {
	clear: both;
}
.user-profile figure::before, .user-profile figure::after {
	display: table;
	content: "";
	line-height: 0;
}
.user-profile figcaption ul {
	margin: 2px 0 0;
	padding: 0;
	list-style: none;
}
.user-profile figcaption ul > li {
	float: left;
	display: block;
}
.user-profile figcaption ul>li+li{
	margin-left:4px
}
.user-profile figcaption em {
	font-size: 11px;
}
.user-profile figcaption strong {
	display: block;
	line-height: 13px;
}
.user-profile figcaption {
	float: right;
	margin-left: 15px;
	padding-top: 3px;
	width: 150px;
}
.user-profile img {
	border: 1px solid #DBDBDB;
	background-color: white;
	padding: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.15);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	width: 50px;
	height: 50px;
}
.user-profile figcaption ul a {
	font-size: 10px;
	padding: 3px 6px;
}

.data-block {
	position: relative;
	margin-bottom: 20px;
}
.data-block h4{
	margin:0;
}
.block-title {
	margin: 0 0 15px 0;
	border-bottom: 2px solid #FB9333;
	padding-bottom: 5px;
	padding-right: 20px;
	display: inline-block;
	text-transform: uppercase;
}
.data-block .data-container, .fullcalendar, #login-content {
	padding: 10px 10px 3px 10px;
	background-color: white;
	border: 1px solid #BEC2C8;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	box-shadow: 0px 0px 4px #aaa;
}
.fullcalendar{
	padding-bottom:10px;
}
.fullcalendar .fc-header-title h2{
	font-size:20px;
	padding:0;
	margin:0;
}
.fullcalendar .fc-button-next{
	border-right:1px solid #AAA;
}
.data-block .data-container  .pagination{
	margin:10px 0;
}
.data-block .form-search {
	margin: 0 0 10px;
}
footer.note{
	font-size:11px;
	margin-top:-20px;
	font-style: italic;
}
#chart-div{
	width:300px; 
	height:150px;	
}
.activity-list {
	margin: 0;
	list-style: none;
}
.activity-list li a i {
	opacity: 0.6;
	margin-right: 10px;
	vertical-align: sub;
}
.activity-list li a span {
	font-size: 11px;
	color: #999;
	font-style: italic;
}
th.avatar{
	width:10%;
}
.pagination ul > li > a, .pagination ul > li > span {
	padding: 0 14px;
	line-height: 30px;
}
div.chart{
	margin-top:10px;
}
form label.error{
	color: #ff0000;
}
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .9em;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-indent:5px;
}
.fc-event-skin ,.external-event{
	background: #0075CF !important;
	background: -moz-linear-gradient(top, #008FD6, #006CB2) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008FD6), to(#006CB2)) !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.fc-grid th{
	background: -moz-linear-gradient(top, #eee, #ddd) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd)) !important;
}
#login-content {
	padding: 20px;
	background: white;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .10);
	background-color: whiteSmoke;
}
#login-content input {
	width: 96%;
	padding: 2% 2%;
}
#login-container {
	width: 435px;
	margin: 125px auto 0;
}
#login-content #remember-me {
	margin-top: 3px;
}
#login-content #remember-me input {
	display: inline-block;
	width: auto;
	padding: 0;
}
#login-content #remember-me label {
	position: relative;
	top: 3px;
	display: inline-block;
}

/* 404 */
.page-error{
    text-align:center;
}

.page-error h1{
    color:#111;
    font-size:100px;
    line-height:110px;    
}

.page-error h2{
    color: #111;
    font-size: 70px;
    line-height:110px;    
}

.page-error h3{
    color: #555;
    font-size: 25px;
    line-height:30px;    
}

.page-error h4{
    color: #000;
    font-weight:normal;
    font-size:15px;
    margin-top:10px;
    margin-bottom:15px;
}

.page-error h4 a{
    text-decoration:none;
    transition:color 0.5s, text-decoration 1s;
    -moz-transition: color 0.5s, text-decoration 1s;
    -webkit-transition: color 0.5s, text-decoration 1s;
    -o-transition: color 0.5s, text-decoration 1s;
}

.page-error h4 a:hover{
    text-decoration:underline;
}
/*responsive*/
@media (max-width: 1000px) {	
	#chart-div{
		display:none;
	}
}
@media (max-width: 550px) {	
	.content-block{ 
		margin-left:0;
		float:left;
		padding:10px 3px;
	}
	#chart-div{
		display:none;
	}
	.navigation-block{
		width:100%;
		position:relative;
		background: url(../img/bg_page.png) repeat-y right #efefef;
	}
	.user-profile,.main-navigation{
		background-image: none;
	}
	body{
		background:none;
		padding:0;
		overflow-x: hidden;
	}
}