.widget {
	margin: 0 0 1em 0;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
	background-color: #fff;
}

.widget-content {
	padding: 20px;
}

.widget>.widget-content {
	width: auto;
	min-height: 20px;
	position: relative;
	font-size: 13px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-top: none;
	border-right-color: #C8C8C8 !important;
	border-bottom-color: #C8C8C8 !important;
	border-left-color: #C8C8C8 !important;
}

.widget>header {
	height: 34px;
	text-indent: 10px;
	line-height: 40px;
	width: auto;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	cursor: move
}

.widget>header h2 {
	height: 100%;
	width: auto;
	float: left;
	font-size: 13px;
	position: relative;
	margin: 0;
	line-height: 34px;
}

.widget>header h2 {
	height: 100%;
	width: auto;
	float: left;
	font-size: 13px;
	position: relative;
	margin: 0;
	line-height: 34px;
}

.widget:before,.widget:after,.widget>div:before,.widget>div:after,.clearfix:before,.clearfix:after
	{
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}

.widget:after,.widget>div:after,.inner-spacer:after,.widget-editbox:after,.clearfix:after
	{
	clear: both;
}

/* default */
.darkgrey-btn,.widget>header{
	color: #333;
	text-shadow: 0 1px 0 #FFF;
	border: 1px solid #C2C2C2;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa),
		color-stop(100%, #efefef) );
	background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: linear-gradient(to bottom, #fafafa 0%, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',
		endColorstr='#efefef', GradientType=0 );
}

/* red theme */
.red-btn,.widget.red>header {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329),
		color-stop(44%, #8f0222), color-stop(100%, #6d0019) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a90329',
		endColorstr='#6d0019', GradientType=0 ); /* IE6-9 */
	border-color: #931313;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}

/* green theme */
.green-btn,.widget.green>header {
	background: #8fc400; /* Old browsers */
	background: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fc400),
		color-stop(100%, #8fc400) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8fc400 0%, #8fc400 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8fc400 0%, #8fc400 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8fc400 0%, #8fc400 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #8fc400 0%, #8fc400 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#8fc400',
		endColorstr='#8fc400', GradientType=0 ); /* IE6-9 */
	border-color: #4c9d57;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}

/* black theme */
.black-btn,.widget.black>header {
	background: #3A3A3A; /* Old browsers */
	background: -moz-linear-gradient(top, #4A4A4A 0%, #3A3A3A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A4A4A),
		color-stop(100%, #3A3A3A) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4A4A4A 0%, #3A3A3A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4A4A4A 0%, #3A3A3A 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4A4A4A 0%, #3A3A3A 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #4A4A4A 0%, #3A3A3A 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#4A4A4A',
		endColorstr='#3A3A3A', GradientType=0 ); /* IE6-9 */
	border-color: #222;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}

/* purple theme */
.purple-btn,.widget.purple>header {
	background: #b86de0; /* Old browsers */
	background: -moz-linear-gradient(top, #b86de0 0%, #914cad 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b86de0),
		color-stop(100%, #914cad) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b86de0 0%, #914cad 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b86de0 0%, #914cad 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b86de0 0%, #914cad 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #b86de0 0%, #914cad 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#b86de0',
		endColorstr='#914cad', GradientType=0 ); /* IE6-9 */
	border-color: #6a4395;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}

/* navy blue theme */
.navyblue-btn,.widget.navyblue>header {
	background-color: #305F9C;
	background-image: -moz-linear-gradient(top, #6484C9, #305F9C);
	background-image: -ms-linear-gradient(top, #6484C9, #305F9C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6484C9),
		to(#305F9C) );
	background-image: -webkit-linear-gradient(top, #6484C9, #305F9C);
	background-image: -o-linear-gradient(top, #6484C9, #305F9C);
	background-image: linear-gradient(top, #6484C9, #305F9C);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'
		6484c9, endColorstr='#' 305f9c, GradientType=0 );
	border-color: #416992;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}

/* yellow theme */
.yellow-btn,.widget.yellow>header {
	background: #e5e696; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e696 0%, #d1d360 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e696),
		color-stop(100%, #d1d360) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e696 0%, #d1d360 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e696 0%, #d1d360 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5e696 0%, #d1d360 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e5e696 0%, #d1d360 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e5e696',
		endColorstr='#d1d360', GradientType=0 ); /* IE6-9 */
	border-color: #BBBB4F;
	color: #333;
	text-shadow: 0 1px 0 #FFF;
}

/* pink theme */
.pink-btn,.widget.pink>header {
	background: #cb60b3; /* Old browsers */
	background: -moz-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb60b3),
		color-stop(50%, #c146a1), color-stop(51%, #a80077),
		color-stop(100%, #db36a4) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%,
		#db36a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#cb60b3',
		endColorstr='#db36a4', GradientType=0 ); /* IE6-9 */
	border-color: #E44CC5;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}

/* orange theme */
.orange-btn,.widget.orange>header { /* nav color #EA494A*/
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feccb1),
		color-stop(50%, #f17432), color-stop(51%, #ea5507),
		color-stop(100%, #fb955e) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%,
		#fb955e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e
		100%); /* IE10+ */
	background: linear-gradient(to bottom, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#feccb1',
		endColorstr='#fb955e', GradientType=0 ); /* IE6-9 */
	border-color: #E9984D;
	color: #FFF;
	text-shadow: 0 1px 0 #333;
}