.list-images-waterwall{
	margin: 0px;
	font-size: 12px;
}

.list-images-waterwall .item-wrapper img{
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.list-images-waterwall .item{
	background-color:#FAFAFA;
	margin-bottom:20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.list-images-waterwall .item-meta{
	padding: 6px 14px 7px;
	background-color: #fff;
}

.list-images-waterwall .item-description{
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-size: 13px;
	line-height: 17px;
	height: 17px;
	overflow:hidden;
	padding: 0;
	word-wrap: break-word;
	margin: 5px 0;
}

.list-images-waterwall .item-social-meta span{
	-webkit-font-smoothing: antialiased;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #a7a7a7;
	padding-right: 7px;
}

.list-images-waterwall .item-credits{
	padding: 9px 14px 10px;
	background-color:#FAFAFA;
	border-top: 1px solid #e7e7e7;
	color: #777;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-ms-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}


#ajaxDetail .modal-body {
	max-height: inherit;
	padding: 0px;
}

#ajaxDetail{
	width: 800px;
	background-color: transparent;
	position: absolute;
	left: 50%;
    margin-left: -400px;
    box-shadow: inherit;
    border:0px;
}

.list-images-waterwall .item-credits img{
	width:34px;
	height:34px;
	float: left;
}

.detail-bar{
	background: #f8f8f8;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%, rgba(241,241,241,0.9)));
	background: -webkit-linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	background: -moz-linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	background: -o-linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	background: linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border-top: 1px solid #e0e0e0;
	border-top-color: rgba(0,0,0,0.1);
	border-bottom: 1px solid #e0e0e0;
	border-bottom: 1px solid rgba(0,0,0,0.22);
	cursor: default;
	height: 36px;
	padding: 10px 20px 9px;
	position: absolute;
	top: 0;
}

.news-detail,.news-comment{
	background: #f8f8f8;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.9)), color-stop(100%, rgba(241,241,241,0.9)));
	background: -webkit-linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	background: -moz-linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	background: -o-linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	background: linear-gradient(rgba(255,255,255,0.9),rgba(241,241,241,0.9));
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.news-detail-footer{
	padding:11px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	padding:11px 20px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-ms-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	margin-bottom: 20px;
}

.news-detail-footer a{
	text-decoration: none;
}

.news-detail-bar{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	vertical-align: middle;
	border-top: 1px solid #e0e0e0;
	border-top-color: rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.22);
	cursor: default;
	height: 36px;
	padding: 8px 20px 7px;
}

.news-detail-content{
	padding:23px 20px;
	background-color: #fff;
}

.news-comment{
	padding: 23px 0px;
}

.news-comment-item{
	padding:0px 20px 14px;
	border-bottom: 1px dotted #ccc;
}

.news-comment-item img{
	width: 50px;
	height: 50px;
}

.news-comment-area{
	border-bottom: 0px;
	padding-bottom: 0px;
}

.news-comment-item textarea{
	width: 686px;
}

.news-comment-item .media-body p{
	color: #171717;
}

.news-comment-more{
	cursor: pointer;
}

.news-comment .media-body form{
	margin-bottom: 0px;	
}

.news-comment-date{
	font-size: 12px;
	color: #777;
	font-weight: normal;
}