<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} -%msg%n</pattern>
		</layout>
	</appender>
	<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>fs.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>
    </appender>-->
    
	<!-- <logger name="com.slyak" level="DEBUG" /> -->
	<!-- 3rdparty Loggers -->
	<!-- <logger name="org.springframework.core" level="INFO"/>
	<logger name="org.springframework.beans" level="INFO"/>
	<logger name="org.springframework.context" level="INFO"/>
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="org.springframework.orm" level="INFO"/>
	<logger name="org.hibernate" level="INFO"/> -->
	
	<logger name="com.slyak" level="INFO"/>
	<logger name="org.apache.shiro" level="INFO"/>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE" /> -->
	</root>
</configuration>